.gameOverModal {
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 40vw;
  height: 55vh;
  position: absolute;
  border-radius: 5px;
  border: 10px ridge var(--highlight-orange);
  Sätter display flex i media screen längst ner
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: var(--modal-background);
}
.gameOverModal__content {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gameOverModal__text {
  color: white;
  font-family: krita;
}
.gameOverModal__score__text {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: krita;
}
.gameOverModal__score__number {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: var(--highlight-orange);
  font-family: krita;
}
@media screen and (orientation: portrait) {
  .gameOverModal {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .gameOverModal {
    display: flex;
  }
}