.button {
  border: none;
  font-size: 1.2rem;
  font-family: krita;
  border-radius: 5px;
  padding: 0.7rem 1rem 0.2rem 1rem;
  color: var(--highlight-orange);
  background-color: var(--button-green);
}
