.startGameModal__wrapper {
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 90vw;
  height: 70vh;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--modal-background);
  border: 10px ridge var(--highlight-orange);
}
.startGameModal {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.startGameModal__title {
  font-size: 1.5rem;
  font-family: krita;
  margin-bottom: 1rem;
  color: var(--highlight-orange);
}
.startGameModal__rule__good {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.startGameModal__rule__evil {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.startGameModal__image__container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.startGameModal__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.startGameModal__text {
  color: white;
  font-size: 0.8rem;
  font-family: krita;
}
.startGameModal__good-luck {
  color: white;
  font-size: 1.6rem;
  font-family: krita;
}
.startGameModal__collaboration {
  font-size: 0.6rem;
  color: white;
  margin-top: 1.5rem;
  text-align: center;
  font-family: krita;
}
.startGameModal__collaboration a {
  margin-left: 4px;
  font-weight: bold;
  color: transparent;
  text-decoration: none;
  color: var(--highlight-orange);
  text-decoration: underline;
}
@media screen and (orientation: portrait) {
  .startGameModal__wrapper {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .startGameModal__wrapper {
    display: flex;
  }
}
