.gameStartModal__wrapper {
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 90vw;
  height: 90vh;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--modal-background);
  border: 10px ridge var(--highlight-orange);
}
.gameStartModal {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gameStartModal__title {
  font-size: 1.5rem;
  font-family: krita;
  margin-bottom: 1rem;
  color: var(--highlight-orange);
}
.gameStartModal__rule__good {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameStartModal__rule__evil {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameStartModal__image__container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.gameStartModal__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gameStartModal__text {
  color: white;
  font-size: 1rem;
  font-family: krita;
}
.gameStartModal__good-luck {
  color: white;
  font-size: 1.6rem;
  font-family: krita;
}
.gameStartModal__play-button {
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  color: var(--highlight-orange);
  font-family: krita;
  background-color: var(--button-green);
}
.gameStartModal__collaboration {
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  text-align: center;
  font-family: krita;
}
.gameStartModal__collaboration a {
  margin-left: 4px;
  font-weight: bold;
  color: transparent;
  text-decoration: none;
  color: var(--highlight-orange);
  text-decoration: underline;
}
@media screen and (orientation: portrait) {
  .gameStartModal__wrapper {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .gameStartModal__wrapper {
    display: flex;
  }
}
