@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

/* dosis-regular - latin */
@font-face {
  font-family: "DosisRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/dosis-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/dosis-v18-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/dosis-v18-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/dosis-v18-latin-regular.woff") format("woff"), /* Modern Browsers */ url("/fonts/dosis-v18-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/dosis-v18-latin-regular.svg#Dosis") format("svg"); /* Legacy iOS */
}

/* dosis-600 - latin */
@font-face {
  font-family: "DosisSemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/dosis-v18-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/dosis-v18-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/dosis-v18-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/dosis-v18-latin-600.woff") format("woff"), /* Modern Browsers */ url("/fonts/dosis-v18-latin-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/dosis-v18-latin-600.svg#Dosis") format("svg"); /* Legacy iOS */
}

/* dosis-700 - latin */
@font-face {
  font-family: "DosisBold";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/dosis-v18-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/dosis-v18-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/dosis-v18-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/dosis-v18-latin-700.woff") format("woff"), /* Modern Browsers */ url("/fonts/dosis-v18-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/dosis-v18-latin-700.svg#Dosis") format("svg"); /* Legacy iOS */
}

/* dosis-800 - latin */
@font-face {
  font-family: "DosisExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/dosis-v18-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/dosis-v18-latin-800.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/dosis-v18-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/dosis-v18-latin-800.woff") format("woff"), /* Modern Browsers */ url("/fonts/dosis-v18-latin-800.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/dosis-v18-latin-800.svg#Dosis") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: krita;
  src: url("/fonts/chawp.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
body,
button {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

:root {
  --shortStack: "Short Stack";
  --dark: #323232;
  --button-green: #008364;
  --highlight-green: #008364;
  --modal-background: #323232;
  --highlight-orange: #f9b001;
  --highlight-darkBlue: #003c68;
  --highlight-lightBlue: #0069b3;
}

.hide {
  display: none;
}
